*{
   
box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
header{
    
    
    width: 100%;
   
    background: transparent linear-gradient(to right,#005d1f 0%,#277816 50%,#005d1f 100%) 0% 0% no-repeat padding-box;
}


.logo{
    padding-top: 23px;
    margin-left: 65px;
}
.up-box span{
    margin-left: 20px;
    
    left: 435px;
    top: 0px;  
    font-family: "PT Sans", sans-serif;
    color: #fff;
    height: 100px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    line-height: 19px;
    
    position: relative;
    
}
.flag{
    
    margin-left: 968px;
    margin-top: -23px;
}


    
    

.content{
   width: 1519px; 
height: 690px;
margin-top: -33px;

background: transparent linear-gradient(to right,#005d1f 0%,#277816 50%,#005d1f 100%) 0% 0% no-repeat padding-box;
}
.cont{
    position: absolute;
    top: 212px;
    width: 50%;
    left: 23%;
    letter-spacing: 0;
}



.heading1{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 900px;
    font-size: 0px;
    line-height: 46px;
    text-align: center;
    margin-left: -28px;
    font-size: 38px;
}
.heading2{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 43px;
    text-align: center;
    margin-left: -144px;
    margin-top: -34px;
}
.heading3{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 35px;
    text-align: center;
    margin-left: -214px;
    margin-top: -30px;
}
.lighter{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    
    font-size: 5.5;
    FONT-SIZE: 26px;
    line-height: 0;
    color: #ffffff;
    text-align: start;
    margin-left: 115px;

}
.lighter2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style:  normal;
    
    font-size: 26px;
    line-height: 50px;
    color: #ffffff;
    text-align: center;
    margin-left: -409px;
    margin-top: -25px;

}
footer{
    background: #13670b;
    position: relative;
    height: 459px;
}
.main-cont{
    display: flex;
    font-size: 8px;
    line-height: 31px;
    text-align: left;
    letter-spacing: normal;
    color: #fff;

}


.part1{
    position: relative;
    left: -37px;
    top: 70px;
    margin-left: 90px;
    
    font-weight: lighter;
    font-family: "PT Sans", sans-serif;
    font-size: 9px;
    color: #edebeb;
    line-height: 1.5;
    height: 50%;
   
font-family: 'Roboto', sans-serif;
}

.part2{
    position: relative;
    left: 290px;
    top: 70px;
    font-size: 9px;
    color: #edebeb;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    height: 50%;
    
}
.part3{
    position: relative;
    top: 60px;
    left: 633px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-weight: lighter;
    color: #edebeb;
    margin-bottom: 8px;
    opacity: .8;
    height: 50%;
    
}
.socials{
    position: relative;
    left: 575px;
    top: 100px;
    color: #fff;
    display: block;
    font-family: var(--primary-font-names);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0.5rem;
    opacity: .4;
    transition: opacity .2s ease;
    height: 50%;
}
.soc1{
    margin-left: 25px;
    
}
.soc2{
    margin-left: 25px;
}
.soc3{
    margin-left: 25px;
}
.soc4{
    margin-left: 25px;
}
.last-logo{
    margin-top: 362px;
    margin-left: 128px;
}
.icon{
    margin-left: 658px;
    margin-top: 117px;
    opacity: .6;
}


